/* footer */

#footer {
  font-family: 'Acme', sans-serif;
  background-color: #ffc94c;
  height: 20vh;
  width: 100vw;
  position: absolute;
  color: #ff764c;
  font-size: 120%;
  margin-top: 20px;
}

#footer_us {
  top: 20px;
  display: flex;
  position: relative;
  width: 100%;
  text-align: center;
  flex-grow: 1;
  justify-content: center;
}

#footer_us img {
  background-color: white;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.footer_photos {
  align-items: center;
  width: 150px;
}

#footer_copyright span {
  bottom: 0;
}